/* ==UserStyle==
@name           csTimer-refined
@namespace      https://github.com/histefanhere
@version        1.0.0
@description    A modern UI for csTimer
@author         Histefanhere
@license        GPL-3.0-or-later
@preprocessor   stylus
@homepageURL    https://github.com/histefanhere/cstimer-refined
==/UserStyle== */

$font-stack =          'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif
$font-stack-mono =     'Source Code Pro', 'Monaco', monospace
$secondary-color =     #58f
$darkened-text-color = #2a4881
$bg-color =            #001
$white =               #fff
$red =                 #c73737
$hover-grey =          #223
$ui-grey =             #334
$button-hover-color =  #112
$line-color =          darken($darkened-text-color, 20%)
$hover-bg-color =      darken($darkened-text-color, 15%)

@-moz-document domain("cstimer.net")
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400')

  // Forces cstimer of `#fff#001#112#08f#58f#000#000` so I can't override it

  html, body, textarea
    color: $white
    background-color: $bg-color

  .mybutton, .tab, .cntbar
    border-color: $ui-grey

  .mybutton:hover, .tab:hover, .mywindow, .popup, .dialog
    background-color: $button-hover-color

  .mybutton.enable, .tab.enable, .cntbar
    background-color: $secondary-color

  #gray
    background-color: $white

  .times:hover, .click:hover, textarea
    background-color: $hover-bg-color

  .click
    color: $secondary-color

    &:hover
      background-color: $hover-bg-color

  .mywindow, .popup, .dialog
    border-color: $ui-grey

  .table
    border: 0
    padding: 5px

    td, th
      border: 0
      padding: 5px

  textarea, .tabValue
    border-color: $ui-grey

  #avgstr .click:hover
    background-color: $hover-bg-color

  select
    color: $darkened-text-color
    border-color: $ui-grey
    background: $bg-color

  input
    &[type='button'], &[type='text']
      color: $white
      background: $bg-color
      border-color: $ui-grey

    &:disabled
      background: $hover-grey

  html
    font-family: $font-stack

  #scrambleDiv, #stats, #toolsDiv
    box-shadow: none
    border: 0

  .mywindow, .popup, .dialog, #leftbar
    box-shadow: none

  table.sumtable
    border-style: none

  div.myscroll
    border-top: 1px solid $line-color
    margin-top: 15px
    padding-top: 15px
    padding-bottom: 30px

  input:disabled
    background: $darkened-text-color

  #lcd
    font-family: $font-stack
    font-weight: 100
    font-size: 80%

  #avgstr
    font-family: $font-stack
    font-weight: 300
    font-size: .1em

  /* ==================
   * LEFTBAR
   * the button grid in the top-left corner
   * ================== */
  #leftbar
    display: block
    top: 0
    margin-top: 0
    height: auto
    border: 0
    padding-top: 30px
    background-color: $bg-color
    color: $white

    // each button
    .mybutton
      border: 0
      border-radius: 8px !important
      font-family: $font-stack
      display: inline-block
      left: auto
      bottom: auto
      right: auto
      top: auto
      position: static
      width: auto
      padding: 0 10px
      color: $secondary-color

      &.enable
        background-color: $secondary-color
        span
          color: $white

      &:hover
        background-color: $hover-bg-color

      div
        display: inline-flex !important
        align-items: center

      // the text/icons of each button
      span
        padding: 7px 3px
        font-family: $font-stack
        font-size: 13px
        font-weight: 400
        display: inline-block !important
        height: 100%;
        align-items: center
        text-transform: lowercase

        // transforms the ALL UPPERCASE TEXT of the buttons to Nice Capitalized Text
        &::first-letter
          text-transform: uppercase

        // shows the icon and puts it before the text
        &:last-child
          font-family: 'iconfont'
          order: -1

      br
        display: none

      // hide "List Times", "Donate", and "Scramble" buttons
      &.c5, &.c3, &.c4
        display: none

      // hide "Logo" button
      &#logo
        display: none

  #stats
    font-family: $font-stack
    top: 4em
    margin-top: 30px
    font-size: 16px
    padding: 0 0 10px 10px
    background-color: transparent
    color: $darkened-text-color
    transition: .1s linear color
    // make times displayed by default
    display: block

    &:hover
      color: lighten($darkened-text-color, 30%)
      transition: .1s linear color

    .sumtable
      border-top: 1px solid $line-color
      margin-top: 20px
      padding-top: 25px

      tr:first-child
        th
          padding-top: 15px

    span.click
      padding-right: 10px
      text-align: left

      &:hover
        background-color: $hover-bg-color

    select, input
      padding: 3px 6px
      color: $darkened-text-color
      border: 1px solid $darkened-text-color
      margin-right: 10px
      font-size: 15px

    input
      font-weight: bold

  #scrambleDiv
    background-color: transparent

    .title
      padding-top: 20px

    select
      padding: 6px 12px
      color: $darkened-text-color
      border: 1px solid $darkened-text-color
      margin-right: 10px
      font-size: 15px

    nobr
      font-family: $font-stack
      font-size: 15px
      color: $darkened-text-color

      span
        padding: 5px 10px

  #scrambleTxt
    // sass-lint:disable no-important
    font-size: 24px !important
    font-family: $font-stack-mono
    padding: 30px 0
    color: lighten($darkened-text-color, 20%)

  #toolsDiv
    font-family: $font-stack
    padding: 0 20px 20px 10px
    border-radius: 10px 0 0
    color: lighten($darkened-text-color, 10%)
    display: table
    background-color: transparent

    br
      display: none

    div
      display: table-cell
      vertical-align: bottom
      font-size: 15px
      padding: 10px

      canvas
        width: 200px !important
        height: 150px !important

      div
        font-family: $font-stack
        font-size: 14px
        line-height: 2
        padding-bottom: 20px

        br
          display: block

    select
      font-size: 13px
      background-color: transparent
      padding: 6px 8px
      border: 1px solid $darkened-text-color

  .popup
    border: 0
    padding: 10px 20px 0
    font-family: $font-stack
    line-height: 2
    font-size: 14px
    color: transparent
    text-align: left

    [type='button']
      background-color: $red
      color: $white
      margin-left: 10px
      padding: 5px 9px
      font-weight: bold
      margin-bottom: 10px
      border-radius: 50px

    input
      &[type='text']
        display: none

    span
      &:first-child
        color: $white

    .click
      background-color: $darkened-text-color
      padding: 5px 10px
      color: $white
      border-radius: 3px
      display: auto

  /* ==================
   * DIALOG
   * the popup options menu
   * ================== */
  .dialog
    left: 30%
    right: 30%
    top: 10%
    bottom: 10%
    border: 0
    border-radius: 5px !important
    overflow: hidden
    opacity: 1.0 !important
    font-size: 14px
    color: lighten($darkened-text-color, 20%)
    padding: 0

    .title
      display: none

    // useless div in a div, classic
    .value
      position: static

      td
        vertical-align: top

      // left-side "sidebar" menu of option tabs
      .tab
        border: 0
        font-family: $font-stack
        text-transform: capitalize
        margin: 0
        text-align: left
        padding: 12px 19px

        &::before
          display: none !important

        .icon
          display: inline !important
          margin-right: 11px

        &.enable
          color: #fff

      // the actual settings itself
      .tabValue
        border: none

        .noScrollBar
          padding: 0
          margin: 0

        .opttable
          margin: 0
          margin-left: 1em
          width: calc(100% - 1em)

          .sr
            padding: 0
            text-align: center

          // puts a nice spacing between settings menus that shouldn't be on the first one
          tr:not(:first-child) th
            padding-top: 1.5em

          th
            padding-left: 0.3em

            // settings tab header
            &:first-child
              font-size: 2em
              background-color: unset

              span
                font-size: 0.7em
                vertical-align: top !important

            // "with session" text that just clutters up the UI
            &:nth-child(2)
              opacity: 0.0

            // &:nth-child(3)
            //   color: green

          td
            padding: 0
            vertical-align: middle
            line-height: 240%
            background: unset

            select, input
              vertical-align: middle
              padding: 6px 12px
              color: $darkened-text-color
              border: 1px solid $darkened-text-color
              font-weight: bold
              margin-left: 10px
              margin-right: 20px
              font-size: 14px
              float: right
              // margin-top: 2px
              // appearance: auto !important

            // i cannot claim the amazing next part, it was taken from https://codeconvey.com/convert-checkbox-to-toggle-button-css/
            // From stupid checkboxes to nice toggle switches - it's like magic!
            /* Toggle Button */
            input[type='checkbox'] {
              -webkit-appearance: none !important;
              -webkit-tap-highlight-color: transparent !important;
              position: relative !important;
              border: 0 !important;
              outline: 0 !important;
              cursor: pointer !important;
              // margin: 10px !important;
              transition: 0.2s ease !important
            }

            /* To create surface of toggle button */
            input[type='checkbox']:after {
              content: '' !important;
              width: 40px !important;
              height: 22px !important;
              display: inline-block !important;
              background: rgba(196, 195, 195, 0.55) !important;
              border-radius: 11px !important;
              clear: both !important;
              transition: 0.2s ease !important
            }

            /* Contents before checkbox to create toggle handle */
            input[type='checkbox']:before {
              content: '' !important;
              width: 22px !important;
              height: 22px !important;
              display: block !important;
              position: absolute !important;
              left: 11px !important;
              // top: -3px !important;
              border-radius: 50% !important;
              background: rgb(255, 255, 255) !important;
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6) !important;
              transition: 0.2s ease !important
            }

            /* Shift the handle to left on check event */
            input[type='checkbox']:checked:before {
              left: 30px !important;
              box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6) !important;
            }
            /* Background color when toggle button will be active */
            input[type='checkbox']:checked:after {
              background: #16a085 !important;
            }

    .button
      text-align: left
      margin-left: 120px
      padding: 10px 0

      .buttonOK
        padding: 10px 20px
        margin: 0 10px 0 0
        border: 0
        background-color: #08f
        color: #fff

        &:last-child
          background-color: $red

  #gray
    background-color: #000
    opacity: 0.85 !important
